.project-page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 70px 20px;
}

.project-hero {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 35px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.project-content h1 {
  font-size: 2.6rem;
  margin-bottom: 20px;
  color: #0f172a;
}

.project-content p {
  font-size: 1.05rem;
  line-height: 1.85;
  margin-bottom: 18px;
  color: #374151;
}

.project-content ul {
  margin-top: 25px;
  padding-left: 20px;
}

.project-content li {
  margin-bottom: 12px;
  font-size: 1rem;
}

.back-btn {
  display: inline-block;
  margin-top: 35px;
  padding: 12px 28px;
  border-radius: 10px;
  background: linear-gradient(90deg, #00529b, #0077cc);
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .project-hero {
    height: 280px;
  }

  .project-content h1 {
    font-size: 2rem;
  }

   .back-btn {
    padding: 8px 20px;   /* smaller padding */
    font-size: 0.85rem;  /* slightly smaller text */
  }
}
